.header__navigation-container {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 23px 70px 0 0;
  padding: 0;
}

.header__register {
  margin-right: 30px;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  transition: .2s ease-in-out;
}
.header__register:hover {
  opacity: .7;
}

.header__login {
  text-align: center;
  padding-top: 8px;
  background-color: #3DDC84;
  display: block;
  border-radius: 3px;
  width: 76px;
  min-height: 32px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Inter;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  transition: .2s ease-in-out;
}
.header__login:hover {
  opacity: .7;
}

@media (max-width:768px) {
  .header__navigation-container {
    margin-right: 30px;
  }
}

@media (max-width: 525px) {
  .header__login {
    padding-top: 4px;
    width: 54px;
    min-height: 26px;
    font-size: 10px;
  }
  .header__register {
    margin-right: 14px;
    font-size: 10px;
  }
  .header__navigation-container {
    margin-right: 14px;
  }
}
