.profile {
  min-height: 100vh;
  margin: 0 auto;
  max-width: 410px;
}

@media (max-width: 425px) {
  .profile {
    width: calc(100% - 30px*2);
  }
}

.profile__title {
  margin: 90px auto 123px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;
  text-align: center;
}

@media (max-width: 768px) {
  .profile__title {
    margin-top: 250px;
    margin-bottom: 96px;
  }
}

@media (max-width: 425px) {
  .profile__title {
    margin-top: 85px;
    margin-bottom: 80px;
  }
}

.profile__form {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.profile__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #424242;

}

.profile__label:last-of-type {
  border: 0;
  padding: 0;
}

.profile__label-title {
  font-weight: 500;
  font-size: 11px;
  line-height: 1.21;
  background-color: transparent;
  color: #fff;
}

.profile__input {
  width: 85%;
  text-align: end;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.21;
  background-color: transparent;
  padding: 0;
  border: 0;
  color: #fff;
}

.profile__input_error {
  color: #EE3465;
}
.profile__input:focus {
  outline: 1px solid #2765cb;
}

.profile__error {
  white-space: pre-wrap;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.21;
  margin-top: 5px;
  height: 14px;
  box-sizing: border-box;
  opacity: 0;
}

.profile__error_visible {
  opacity: 1;
  color: #EE3465;
}

.profile__error:nth-of-type(2) {
  margin-bottom: 200px;
}

@media (max-width: 768px) {
  .profile__error:nth-of-type(2) {
    margin-bottom: 195px;
  }
}

@media (max-width: 425px) {
  .profile__error:nth-of-type(2) {
    margin-bottom: 150px;
  }
}

@media (max-width: 320px) {
  .profile__error:nth-of-type(2) {
    margin-bottom: 356px;
  }
}

.profile__button {
  display: block;
  margin: 0 auto;
  border: 0;
  padding: 0;
  background-color: transparent;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.21;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.profile__button:hover {
  opacity: .7;
}

@media (max-width: 425px) {
  .profile__button {
    font-size: 12px;
  }
}

.profile__link {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.21;
  color: #EE3465;
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 16px auto 70px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.profile__link:hover {
  opacity: .7;
}

@media (max-width: 425px) {
  .profile__link {
    font-size: 12px;
  }
}

.profile__button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
