.authorization__submit-button {
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  border: none;
  background-color: #4285F4;
  color: #fff;
  border-radius: 3px;
  min-height: 45px;
  padding: 0;
  width: 396px;
  margin: 0 auto;
}
@media screen and (max-width: 425px) {
  .authorization__submit-button {
    width: 260px;
    margin: 0 auto;
    font-size: 12px;
  }
}
.authorization__submit-button:hover {
  opacity: .7;
}
.authorization__disabled-button {
  background-color: #F8F8F8;
  color: #C2C2C2;
  cursor: not-allowed;
  margin-bottom: 50px;
}
.authorization__disabled-button:hover {
  opacity: 1;
}
