.moviesCardList {
  width: 100%;
}
@media (max-width: 1180px) {
  .moviesCardList {
    width: calc(100% - 30px*2);
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .moviesCardList {
    width: 100%;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 32px;
  column-gap: 20px;
  padding: 70px 0 0;
  margin: 0 auto;
  list-style: none;
}

.show-more {
  text-align: center;
}

.button-show-more {
  width: 320px;
  height: 36px;
  margin: 80px auto 80px;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.21;
  border: 1px solid #424242;
  border-radius: 6px;
  cursor: pointer;
  padding: 0;
}
.button-show-more:hover {
  opacity: .7;
}

@media (max-width: 1025px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    padding-top: 82px;
    row-gap: 36px;
    column-gap: 30px;
  }
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 725px) {
  .gallery {
    row-gap: 20px;
    column-gap: 20px;
    width: calc(100% - 10px*2);
  }
}

@media (max-width: 525px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 40px;
    width: 100%;
  }
  .button-show-more {
    width: 240px;
  }
}
