.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header_theme_promo {
  background-color: #073042;
}
.header_theme_main {
  background-color: #202020;
}

.header__link-logo {
  display: block;
  margin: 18px 0 0 70px;
  width: 38px;
  height: 38px;
  background-repeat: no-repeat;
  background-image: url(../../images/logo.svg);
  transition: .2s ease-in-out;
}
.header__link-logo:hover {
  opacity: .7;
}

.header__burger {
  display: none;
  margin: 15px 30px 0 0;
  width: 44px;
  height: 44px;
  border: none;
  padding: 0;
  background-color: transparent;
  background-image: url(../../images/burger-icon.svg);
  background-position: center;
  transition: .2s ease-in-out;
}
.header__burger:hover {
  opacity: .7;
}
@media (max-width: 768px) {
  .header__burger {
    display: block;
  }
  .header__link-logo {
    margin-left: 30px;
  }
}

@media (max-width: 525px) {
  .header__burger {
    background-image: url(../../images/burger-icon-mini.svg);
    margin-right: 14px;
  }
  .header__link-logo {
    margin-left: 14px;
  }
}
