.authorization__error_large {
  margin-bottom: 10px;
}
.authorization__error_large:last-of-type {
  margin-bottom: 165px;
}
@media screen and (max-width: 425px) {
  .authorization__error_large:last-of-type {
    margin-bottom: 250px;
  }
}

.authorization__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  color: #4285F4;
  text-decoration: none;
  cursor: pointer;
}
.authorization__link:hover {
  opacity: .7;
}
@media screen and (max-width: 425px) {
  .authorization__link {
    font-size: 12px;
  }
}
.authorization {
  margin: 0 auto;
  width: 396px;
  height: 100vh;
}
@media screen and (max-width: 425px) {
  .authorization {
    width: 260px;
  }
}
